[Unit]
Description=Profiling jetson nano power consumption

[Service]
EnvironmentFile=/etc/.my-profiler-conf
ExecStart=/home/kahanam/experiments/profiling/build/aarch64/bin/power_profiler $OUTPUT $VALUE $RAIL

[Install]
WantedBy=multi-user.target
